@import '../fonts/Space-Mono/stylesheet.css';
@import '../fonts/Lexend-Deca/stylesheet.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html,
body {
  height: 100%;
}

main {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Lexend Deca";
  overflow-x: hidden;
}

.big-container {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1164px;
  margin: 0 auto;
  padding: 0px 32px;
}

.hero {
  padding-top: 103.5px;
}
@media screen and (max-width: 710px) {
  .hero {
    padding-top: 76.39px;
  }
}

body.lock {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Space Mono";
}

.btn {
  display: inline-block;
  padding: 14px 39px;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 15px;
  line-height: 167%;
  color: #FFFFFF;
  border: 3px solid #FCB72B;
  background: #FCB72B;
  cursor: pointer;
  transition: 0.2s ease;
}
.btn:hover {
  color: #FCB72B;
  background: transparent;
}

nav {
  padding: 22px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 13px 1px;
}

.nav {
  display: flex;
  -moz-column-gap: 58px;
       column-gap: 58px;
  align-items: center;
}
@media screen and (max-width: 710px) {
  .nav {
    justify-content: center;
  }
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__ul {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  align-items: center;
}
.menu__ul-link {
  font-weight: 700;
  font-size: 15px;
  line-height: 167%;
  color: #939CAA;
  transition: 0.2s ease;
}
.menu__ul-link:hover {
  color: #FCB72B;
}
@media screen and (max-width: 710px) {
  .menu__ul-link {
    font-size: 18px;
    color: #E5ECF4;
  }
}
@media screen and (max-width: 710px) {
  .menu__ul {
    width: 100%;
    text-align: left;
    flex-direction: column;
    row-gap: 24px;
    align-items: start;
  }
}
@media screen and (max-width: 710px) {
  .menu {
    position: fixed;
    top: 0;
    left: -500%;
    transition: 0.07s linear;
    margin-top: 76.2px;
    padding: 64px 32px 130px 32px;
    width: 256px;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background-color: #333A44;
    box-shadow: 0px 100vw 0px 100vw rgba(0, 0, 0, 0.75);
  }
}

.mobil-menu {
  display: none;
  position: absolute;
  top: 29px;
  left: 32px;
}
@media screen and (max-width: 710px) {
  .mobil-menu {
    width: 19.62px;
    height: 16px;
    transform: translateY(3px);
    display: flex;
    flex-direction: column;
    row-gap: 2.46px;
  }
  .mobil-menu__item {
    width: 19.62px;
    height: 3px;
    display: inline-block;
    background: #FCB72B;
    transition: 0.2s linear;
  }
}

.mobil-menu.active {
  transform: translateY(8px);
}

.mobil-menu.active .mobil-menu__item:nth-child(1) {
  position: absolute;
  transform: rotate(-45deg);
}

.mobil-menu.active .mobil-menu__item:nth-child(2) {
  transform: translateX(-3px);
  opacity: 0;
}

.mobil-menu.active .mobil-menu__item:nth-child(3) {
  position: absolute;
  transform: rotate(45deg);
}

.menu.active {
  left: 0;
  transition: 0.2s linear;
}

.footer__text h2 {
  max-width: 415px;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -2.14286px;
  color: #FFFFFF;
}
@media screen and (max-width: 1000px) {
  .footer__text h2 {
    max-width: 457px;
    text-align: center;
  }
}
@media screen and (max-width: 710px) {
  .footer__text h2 {
    max-width: 311px;
    font-size: 32px;
    letter-spacing: -1.42857px;
  }
}
@media screen and (max-width: 375px) {
  .footer__text h2 {
    max-width: 273px;
    font-size: 24px;
  }
}
.footer__market {
  display: flex;
  align-items: center;
  -moz-column-gap: 18px;
       column-gap: 18px;
}
.footer__market .market {
  padding: 8px 16px 9px 16px;
  display: flex;
  -moz-column-gap: 11.73px;
       column-gap: 11.73px;
  align-items: center;
  background-color: #E5ECF4;
  border-radius: 4px;
}
.footer__market .market__text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.892857px;
  color: #495567;
  transition: 0.2s ease;
}
.footer__market .market__text span {
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.446429px;
}
@media screen and (max-width: 1000px) {
  .footer__market .market {
    -moz-column-gap: 8.64px;
         column-gap: 8.64px;
    padding: 8.3px 11.79px 6.43px 11.79px;
  }
}
@media screen and (max-width: 1000px) {
  .footer__market {
    -moz-column-gap: 12.86px;
         column-gap: 12.86px;
  }
}
@media screen and (max-width: 375px) {
  .footer__market {
    flex-direction: column;
    row-gap: 10px;
  }
}
.footer-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-menu__ul {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  align-items: center;
}
.footer-menu__ul-link {
  font-weight: 700;
  font-size: 15px;
  color: #939CAA;
  transition: 0.2s ease;
}
.footer-menu__ul-link:hover {
  color: #FCB72B;
}
@media screen and (max-width: 710px) {
  .footer-menu__ul {
    flex-direction: column;
    row-gap: 16px;
  }
}
.footer-menu__socials {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  align-items: center;
}
.footer-menu__socials svg path {
  transition: 0.2s ease;
}
.footer-menu__socials a:hover svg path {
  fill: #E5ECF4;
}
@media screen and (max-width: 710px) {
  .footer-menu {
    flex-direction: column;
    row-gap: 85px;
  }
}

.footer__top {
  background-color: #495567;
}
.footer__top .big-container {
  padding: 102px 0;
  background: url("../images/main-page/footer-element.png") no-repeat;
  background-size: 1000px;
  background-position: right bottom;
}
@media screen and (max-width: 1000px) {
  .footer__top .big-container {
    padding: 62px 0;
  }
}
@media screen and (max-width: 710px) {
  .footer__top .big-container {
    padding: 88px 0;
  }
}
.footer__top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1000px) {
  .footer__top-container {
    flex-direction: column;
    justify-content: center;
    row-gap: 40px;
  }
}

.footer__bottom {
  background-color: #333A44;
}
.footer__bottom-container {
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  -moz-column-gap: 58.58px;
       column-gap: 58.58px;
  align-items: center;
}
@media screen and (max-width: 710px) {
  .footer__bottom-container {
    padding-top: 64px;
    padding-bottom: 88px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 41.44px;
  }
}

.market .market__logo path {
  transition: 0.2s ease;
}

.market:hover .market__text {
  color: #FCB72B;
}

.market:hover .market__logo path {
  fill: #FCB72B;
}

.hero-big-container {
  background: url(../images/main-page/desktop-hero-img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 710px) {
  .hero-big-container {
    background-position: right;
  }
}

.hero-element-text {
  position: relative;
}

.hero__text {
  display: flex;
  row-gap: 40px;
  flex-direction: column;
  max-width: 500px;
  align-items: flex-end;
  color: #FFF;
}
.hero__text-title {
  margin: 0;
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: -2.5px;
}
@media screen and (max-width: 710px) {
  .hero__text-title {
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1.78571px;
  }
}
.hero__text-info {
  max-width: 405px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: flex-start;
}
.hero__text-info__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
@media screen and (max-width: 1040px) {
  .hero__text-info {
    max-width: 573px;
    align-items: center;
    row-gap: 32px;
  }
}
@media screen and (max-width: 710px) {
  .hero__text-info {
    max-width: 311px;
    row-gap: 24px;
  }
}
@media screen and (max-width: 1040px) {
  .hero__text {
    max-width: 573px;
    text-align: center;
    align-items: center;
    row-gap: 24px;
  }
}
@media screen and (max-width: 710px) {
  .hero__text {
    max-width: 311px;
    row-gap: 34px;
  }
}

.hero-container {
  padding-top: 153px;
  padding-bottom: 153px;
}
@media screen and (max-width: 1040px) {
  .hero-container {
    padding-top: 137px;
    padding-bottom: 217px;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 710px) {
  .hero-container {
    padding-top: 115px;
    padding-bottom: 179px;
  }
}

.hero-element-left {
  position: absolute;
  top: 40px;
  left: -265px;
  display: inline-block;
  width: 202.5px;
  height: 15px;
  background-color: #FCB72B;
  border: none;
}
@media screen and (max-width: 1040px) {
  .hero-element-left {
    display: none;
  }
}

.hero-element-right {
  position: absolute;
  top: 40px;
  right: -500px;
}
@media screen and (max-width: 1040px) {
  .hero-element-right {
    top: 207px;
    left: -294px;
  }
}
@media screen and (max-width: 710px) {
  .hero-element-right {
    top: 210px;
    left: -380px;
  }
}

.main-sec-1 {
  padding-top: 160px;
}
@media screen and (max-width: 1000px) {
  .main-sec-1 {
    padding-top: 122px;
  }
}
@media screen and (max-width: 710px) {
  .main-sec-1 {
    padding-top: 120px;
  }
}

.main-cards {
  position: relative;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
}
.main-cards__card {
  max-width: 350px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 40px;
}
.main-cards__card-img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #FCB72B;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 710px) {
  .main-cards__card-img {
    width: 56px;
    height: 56px;
  }
  .main-cards__card-img img {
    max-width: 25px;
    height: 25px;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
  }
}
.main-cards__card-text {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  justify-content: flex-start;
}
.main-cards__card-text h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -1.07143px;
  color: #495567;
}
@media screen and (max-width: 710px) {
  .main-cards__card-text h3 {
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.892857px;
  }
}
.main-cards__card-text p {
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  color: #939CAA;
}
@media screen and (max-width: 1000px) {
  .main-cards__card-text {
    max-width: 398px;
  }
}
@media screen and (max-width: 710px) {
  .main-cards__card-text {
    max-width: 100%;
    text-align: center;
    row-gap: 24px;
  }
}
@media screen and (max-width: 1000px) {
  .main-cards__card {
    max-width: 100%;
    flex-direction: row;
    -moz-column-gap: 79px;
         column-gap: 79px;
  }
}
@media screen and (max-width: 710px) {
  .main-cards__card {
    flex-direction: column;
    row-gap: 24px;
    align-items: center;
  }
}
@media screen and (max-width: 1000px) {
  .main-cards {
    flex-direction: column;
    row-gap: 40px;
  }
}
@media screen and (max-width: 710px) {
  .main-cards {
    row-gap: 48px;
  }
}

.main-cards__card-img-hr {
  position: relative;
}
@media screen and (max-width: 710px) {
  .main-cards__card-img-hr {
    position: static;
  }
}

@media screen and (max-width: 1000px) {
  .main-cards__card-img-hr::after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 512px;
    z-index: -1;
    position: absolute;
    top: -500px;
    left: 35px;
    background-color: #E5ECF4;
  }
}
@media screen and (max-width: 710px) {
  .main-cards__card-img-hr::after {
    display: none;
  }
}

.behind-card-element {
  z-index: -1;
  width: 974px;
  height: 15px;
  position: absolute;
  top: 40px;
  left: -170px;
  border: none;
  background-color: #E5ECF4;
}
@media screen and (max-width: 1127px) {
  .behind-card-element {
    left: -250px;
  }
}
@media screen and (max-width: 1000px) {
  .behind-card-element {
    display: none;
    width: 25px;
    height: 512px;
    top: -123px;
    left: 190px;
  }
}

.main-sec-2 {
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  row-gap: 160px;
}
@media screen and (max-width: 1000px) {
  .main-sec-2 {
    padding-top: 145px;
    padding-bottom: 104px;
    row-gap: 128px;
  }
}

.sec-2__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .sec-2__container {
    flex-direction: column;
    row-gap: 56px;
  }
}
.sec-2__text {
  max-width: 445px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.sec-2__text-h {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -2.14286px;
  color: #495567;
}
@media screen and (max-width: 710px) {
  .sec-2__text-h {
    font-size: 32px;
    letter-spacing: -1.42857px;
  }
}
@media screen and (max-width: 375px) {
  .sec-2__text-h {
    font-size: 24px;
  }
}
.sec-2__text-p {
  margin-top: 24px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  color: #939CAA;
}
@media screen and (max-width: 1000px) {
  .sec-2__text-p {
    margin: 40px 0;
  }
}
@media screen and (max-width: 710px) {
  .sec-2__text-p {
    margin: 32px 0;
  }
}
@media screen and (max-width: 375px) {
  .sec-2__text-p {
    font-size: 22px;
  }
}
@media screen and (max-width: 1000px) {
  .sec-2__text {
    max-width: 573px;
    justify-content: center;
    text-align: center;
  }
}
.sec-2__img {
  max-width: 445px;
  max-height: 445px;
  border-radius: 50%;
  overflow: hidden;
}
.sec-2__img img {
  max-width: 445px;
  max-height: 445px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  transition: 0.3s ease-in;
}
@media screen and (max-width: 710px) {
  .sec-2__img img {
    max-width: 311px;
    max-height: 311px;
  }
}
@media screen and (max-width: 375px) {
  .sec-2__img img {
    max-width: 250px;
    max-height: 250px;
  }
}
.sec-2__img:hover img {
  transform: scale(1.2);
}
@media screen and (max-width: 1000px) {
  .sec-2__img {
    order: -1;
  }
}
@media screen and (max-width: 710px) {
  .sec-2__img {
    max-width: 311px;
    max-height: 311px;
  }
}
@media screen and (max-width: 375px) {
  .sec-2__img {
    max-width: 250px;
    max-height: 250px;
  }
}

.telemtry__element {
  position: relative;
}
@media screen and (max-width: 1000px) {
  .telemtry__element {
    order: -1;
  }
}

.telemtry__element::before {
  content: "";
  background: url(../images/main-page/section-2-1-yoni.png) no-repeat;
  width: 102px;
  height: 445px;
  position: absolute;
  top: 0;
  right: -175px;
  z-index: -1;
}
@media screen and (max-width: 1365px) {
  .telemtry__element::before {
    right: -70px;
  }
}
@media screen and (max-width: 1223px) {
  .telemtry__element::before {
    right: -40px;
  }
}
@media screen and (max-width: 1000px) {
  .telemtry__element::before {
    right: -210px;
  }
}
@media screen and (max-width: 853px) {
  .telemtry__element::before {
    right: -170px;
  }
}
@media screen and (max-width: 710px) {
  .telemtry__element::before {
    display: none;
  }
}

.telemtry__element::after {
  content: "";
  background: url(../images/icon/section-2-strelka-1.svg) no-repeat;
  width: 740px;
  height: 150px;
  position: absolute;
  bottom: 0;
  right: -175px;
}
@media screen and (max-width: 1365px) {
  .telemtry__element::after {
    right: -70px;
  }
}
@media screen and (max-width: 1223px) {
  .telemtry__element::after {
    right: -40px;
  }
}
@media screen and (max-width: 1000px) {
  .telemtry__element::after {
    right: -210px;
  }
}
@media screen and (max-width: 853px) {
  .telemtry__element::after {
    right: -170px;
  }
}
@media screen and (max-width: 710px) {
  .telemtry__element::after {
    width: 300px;
    right: -198px;
  }
}
@media screen and (max-width: 600px) {
  .telemtry__element::after {
    right: -93px;
  }
}
@media screen and (max-width: 426px) {
  .telemtry__element::after {
    right: -19px;
  }
}
@media screen and (max-width: 290px) {
  .telemtry__element::after {
    width: 210px;
    right: -20px;
  }
}

.careers-hero {
  padding-top: 101.85px;
}
@media screen and (max-width: 710px) {
  .careers-hero {
    padding-top: 76.2px;
  }
}

.careers--big-container-hero {
  background: url(../images/careers-page/careers-hero.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1000px) {
  .careers--big-container-hero {
    background-position: right;
  }
}
@media screen and (max-width: 710px) {
  .careers--big-container-hero {
    background-position: center;
  }
}

.careers--container-hero {
  padding-top: 72px;
  padding-bottom: 72px;
}
.careers--container-hero h1 {
  margin: 0;
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}
@media screen and (max-width: 710px) {
  .careers--container-hero h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 710px) {
  .careers--container-hero {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60 px;
  }
}

.mission {
  padding-top: 120px;
}
.mission--big-container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .mission--big-container {
    flex-direction: column;
    justify-content: center;
    row-gap: 64px;
  }
}
.mission--container {
  display: flex;
  justify-content: center;
}
.mission__text {
  max-width: 445px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.mission__text h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -2.14286px;
  color: #495567;
}
@media screen and (max-width: 710px) {
  .mission__text h2 {
    font-size: 32px;
    letter-spacing: -1.42857px;
  }
}
@media screen and (max-width: 375px) {
  .mission__text h2 {
    font-size: 24px;
  }
}
.mission__text p {
  margin-top: 24px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  color: #939CAA;
}
@media screen and (max-width: 1000px) {
  .mission__text p {
    margin: 40px 0;
  }
}
@media screen and (max-width: 710px) {
  .mission__text p {
    margin: 32px 0;
  }
}
@media screen and (max-width: 375px) {
  .mission__text p {
    font-size: 18px;
  }
}
@media screen and (max-width: 1000px) {
  .mission__text {
    max-width: 573px;
    text-align: center;
  }
}
.mission__img {
  max-width: 100%;
}
@media screen and (max-width: 1223px) {
  .mission__img {
    width: 600px;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
  }
}
@media screen and (max-width: 1000px) {
  .mission__img {
    width: 800px;
    order: -1;
    align-self: flex-end;
  }
}
@media screen and (max-width: 853px) {
  .mission__img {
    width: 690px;
  }
}
@media screen and (max-width: 710px) {
  .mission__img {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
@media screen and (max-width: 375px) {
  .mission__img {
    height: 250px;
  }
}
@media screen and (max-width: 290px) {
  .mission__img {
    height: 200px;
  }
}
@media screen and (max-width: 1000px) {
  .mission {
    padding-top: 144px;
  }
}

.careers-sec-2 {
  padding-top: 120px;
}

.join-us__title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}
@media screen and (max-width: 375px) {
  .join-us__title {
    font-size: 30px;
  }
}
.join-us__cards {
  margin-top: 103px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.join-us__cards-card {
  max-width: 350px;
  display: flex;
  row-gap: 87px;
  flex-direction: column;
  align-items: center;
}
.join-us__cards-card__img {
  position: relative;
}
.join-us__cards-card__img img {
  filter: blur(2px);
  transition: 0.1s linear;
}
.join-us__cards-card__img:hover img {
  filter: blur(0);
}
.join-us__cards-card__img::after {
  content: "01";
  position: absolute;
  bottom: -20%;
  left: 29%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #FCB72B;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  color: #495567;
}
.join-us__cards-card__text {
  display: flex;
  row-gap: 27px;
  flex-direction: column;
  align-items: center;
}
.join-us__cards-card__text h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  text-align: center;
  letter-spacing: -1.07143px;
  color: #495567;
}
.join-us__cards-card__text P {
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #939CAA;
}
@media screen and (max-width: 1000px) {
  .join-us__cards-card {
    max-width: 457px;
  }
}
@media screen and (max-width: 1000px) {
  .join-us__cards {
    margin-top: 105px;
    row-gap: 55px;
    flex-direction: column;
  }
}

.join-us__cards-card__img--2::after {
  content: "02";
}

.join-us__cards-card__img--3::after {
  content: "03";
}

.careers-sec-3 {
  padding-top: 120px;
  padding-bottom: 160px;
}

.apply__cards {
  max-width: 100%;
  display: flex;
  row-gap: 24px;
  flex-direction: column;
}
.apply__cards-card {
  width: 100%;
  height: 128px;
  background-color: #F2F5F9;
  padding: 32px 64px 35px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s linear;
}
.apply__cards-card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 37px -6px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1000px) {
  .apply__cards-card:hover {
    transform: scale(1);
    box-shadow: none;
  }
}
.apply__cards-card__text {
  max-width: 650px;
  display: flex;
  row-gap: 8px;
  flex-direction: column;
  color: #495567;
}
.apply__cards-card__text h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -1.07143px;
}
.apply__cards-card__text span {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
}
@media screen and (max-width: 710px) {
  .apply__cards-card__text {
    text-align: center;
  }
}
@media screen and (max-width: 710px) {
  .apply__cards-card {
    height: 100%;
    background-color: #F2F5F9;
    padding: 36px 32px 32px 32px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    justify-content: center;
  }
}

.apply__btn {
  padding: 14px 67px;
}
@media screen and (max-width: 375px) {
  .apply__btn {
    padding: 14px 40px;
  }
}/*# sourceMappingURL=main.css.map */