// color
$yellow-color: #FCB72B;
$dark-navy-color: #495567;
$dim-grey-color: #939CAA;
$light-grey-color: #E5ECF4;
$snow-color: #F2F5F9;
$light-yellow-color: #FFF4DF;
// fonts
$heading-font: 'Space Mono';
$text-font: 'Lexend Deca';