@import './fonts';
@import './variables';
@import './mixins';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,
body {
    height: 100%;
}

main {
    min-height: 100%;
    overflow-x: hidden;
}

body {
    font-family: $text-font;
    overflow-x: hidden;
}

.big-container {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1164px;
    margin: 0 auto;
    padding: 0px 32px;
}

.hero {
    padding-top: 103.5px;
    @include for-mobile {
        padding-top: 76.39px;
    }
}

body.lock {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: $heading-font;
}

.btn {
    display: inline-block;
    padding: 14px 39px;
    font-family: $heading-font;
    font-weight: 700;
    font-size: 15px;
    line-height: 167%;
    color: #FFFFFF;
    // style
    border: 3px solid $yellow-color;
    background: $yellow-color;
    cursor: pointer;
    transition: .2s ease;
    &:hover {
        color: $yellow-color;
        background: transparent;
    }
}

@import './blocks/blocks'