.about-hero {
    padding-top: 101.85px;
    @include for-mobile {
        padding-top: 76.2px;
    }
}

.about--big-container-hero {
    background: url(../images/about-page/about-hero.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    @include for-tablet {
        background-position: right;
    }
    @include for-mobile {
        background-position: center;
    }
}

.about--container-hero {
    padding-top: 72px;
    padding-bottom: 72px;
    h1 {
        margin: 0;
        font-weight: 700;
        font-size: 56px;
        line-height: 100%;
        letter-spacing: -2.5px;
        color: #FFFFFF;
        @include for-mobile {
            font-size: 40px;
        }
    }
    @include for-mobile {
        display: flex;
        justify-content: center;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.about-sec-1 {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    row-gap: 171px;
}

.about-sec-1-article {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include for-tablet {
            flex-direction: column;
            row-gap: 56px;
        }
    }
    &__text {
        max-width: 445px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        &-h {
            font-weight: 700;
            font-size: 48px;
            line-height: 100%;
            letter-spacing: -2.14286px;
            color: $dark-navy-color;
            @include for-mobile {
                font-size: 32px;
                letter-spacing: -1.42857px;
            }
            @include for-fold {
                font-size: 24px;
            }
        }
        &-p {
            margin-top: 24px;
            margin-bottom: 40px;
            font-weight: 400;
            font-size: 15px;
            line-height: 167%;
            color: $dim-grey-color;
            @include for-tablet {
                margin: 40px 0;
            }
            @include for-mobile {
                margin: 32px 0;
            }
            @include for-fold {
                font-size: 22px;
            }
        }
        @include for-tablet {
            max-width: 573px;
            justify-content: center;
            text-align: center;
        }
    }
    &__img {
        max-width: 445px;
        max-height: 445px;
        border-radius: 50%;
        overflow: hidden;
        img {
            max-width: 445px;
            max-height: 445px;
            object-fit: contain;
            object-position: center;
            transition: .3s ease-in;
            @include for-mobile {
                max-width: 311px;
                max-height: 311px;
            }
            @include for-fold {
                max-width: 250px;
                max-height: 250px;
            }
        }
        &:hover img {
            transform: scale(1.2);
        }
        @include for-tablet {
            order: -1;
        }
        @include for-mobile {
            max-width: 311px;
            max-height: 311px;
        }
        @include for-fold {
            max-width: 250px;
            max-height: 250px;
        }
    }
}

.mobility__element {
    position: relative;
    @include for-tablet {
        order: -1;
    }
}

.mobility__element::before {
    content: '';
    background: url(../images/main-page/section-2-1-yoni.png) no-repeat;
    width: 102px;
    height: 445px;
    position: absolute;
    top: 0;
    right: -175px;
    z-index: -1;
    @include for-element-3 {
        right: -70px;
    }
    @include for-element-3-1 {
        right: -40px;
    }
    @include for-tablet {
        right: -210px;
    }
    @include for-element-3-4 {
        right: -170px;
    }
    @include for-mobile {
        display: none;
    }
}

.mobility__element::after {
    content: '';
    background: url(../images/icon/section-2-strelka-1.svg) no-repeat;
    width: 740px;
    height: 150px;
    position: absolute;
    bottom: 0;
    right: -175px;
    @include for-element-3 {
        right: -70px;
    }
    @include for-element-3-1 {
        right: -40px;
    }
    @include for-tablet {
        right: -210px;
    }
    @include for-element-3-4 {
        right: -170px;
    }
    @include for-mobile {
        width: 300px;
        right: -198px;
    }
    @include for-element-3-2 {
        right: -93px;
    }
    @include for-element-3-3 {
        right: -19px;
    }
    @include for-min-fold {
        width: 210px;
        right: -20px;
    }
}

.about-sec-2 {
    padding-top: 120px;
}

.values {
    &__title {
        margin: 0 auto;
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        text-align: center;
        letter-spacing: -2.14286px;
        color: $dark-navy-color;
        @include for-fold {
            font-size: 30px;
        }
    }
    &__cards {
        margin-top: 103px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-card {
            max-width: 350px;
            display: flex;
            row-gap: 87px;
            flex-direction: column;
            align-items: center;
            &__img {
                position: relative;
                img {
                    filter: blur(4px);
                    transition: .1s linear;
                    @include for-tablet {
                        filter: blur(0);
                    }
                }
                &:hover img {
                    filter: blur(0);
                }
                &::after {
                    content: '01';
                    position: absolute;
                    bottom: -20%;
                    left: 29%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 96px;
                    height: 96px;
                    border-radius: 50%;
                    background-color: $yellow-color;
                    font-family: $heading-font;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 117%;
                    color: $dark-navy-color;
                }
            }
            &__text {
                display: flex;
                row-gap: 27px;
                flex-direction: column;
                align-items: center;
                h3 {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 117%;
                    text-align: center;
                    letter-spacing: -1.07143px;
                    color: $dark-navy-color;
                }
                P {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 167%;
                    text-align: center;
                    color: $dim-grey-color;
                }
            }
            @include for-tablet {
                max-width: 457px;
            }
        }
        @include for-tablet {
            margin-top: 105px;
            row-gap: 55px;
            flex-direction: column;
        }
    }
}

.values__cards-card__img--2::after {
    content: '02';
}

.values__cards-card__img--3::after {
    content: '03';
}

.about-sec-3 {
    padding-top: 120px;
    padding-bottom: 160px;
}

.faqs {
    &--container {
        display: flex;
        row-gap: 64px;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: -2.14286px;
        color: $dark-navy-color;
    }
}

.howworks {
    width: 100%;
    &--container {
        display: flex;
        justify-content: space-between;
        @include for-mobile {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        letter-spacing: -1.78571px;
        color: $dark-navy-color;
        @include for-mobile {
            font-size: 24px;
            letter-spacing: -1.07143px;
            margin-bottom: 32px;
        }
    }
    &__cards {
        width: 720px;
        display: flex;
        row-gap: 16px;
        flex-direction: column;
        align-items: center;
        &-card {
            width: 100%;
            height: 100%;
            background-color: #F2F5F9;
            padding: 32px 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__title {
                font-weight: 700;
                font-size: 24px;
                line-height: 117%;
                letter-spacing: -1.07143px;
                color: $dark-navy-color;
                @include for-mobile {
                    font-size: 18px;
                    line-height: 133%;
                    letter-spacing: -0.803571px;
                }
            }
            @include for-mobile {
                column-gap: 16px;
            }
        }
        @include for-mobile {
            max-width: 100%;
        }
    }
    &-img {
        cursor: pointer;
    }
}